.about {
  margin-bottom: 64px;

  @include tablet {
    margin-bottom: 120px;
  }

  &__picture {
    display: block;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__info {
    padding-block: 48px;
    background-color: $about-background-color;

    @include tablet {
      padding-block: 120px;
    }
  }

  &__content {
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 0;
      grid-column: span 3;
    }

    @include desktop {
      grid-column: span 6;
    }
  }

  &__description {
    letter-spacing: 0.15px;
    grid-column: 1 / -1;

    @include tablet {
      grid-column: span 3;
    }

    @include desktop {
      grid-column: 8 / -1;
    }
  }
}
