.button {
  display: block;
  width: 100%;
  height: 56px;

  border: none;
  border-radius: 8px;

  background-color: $accent-color;
  color: $white-color;

  font-size: 16px;
  font-weight: 700;
  line-height: 27px;

  cursor: pointer;

  transition:
    background-color $effectDuration,
    box-shadow $effectDuration;

  &:hover {
    background-color: $button-hover-color;
  }

  &:focus {
    background-color: $button-focus-color;
  }
}
