.categories {
  display: grid;
  row-gap: 40px;

  @include page-grid;

  @include tablet {
    row-gap: 56px;
  }

  &__title {
    margin: 0;

    @include tablet {
      grid-column: span 3;
    }

    @include desktop {
      grid-column: span 4;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    grid-column: 1 / -1;

    @include tablet {
      gap: 56px;
    }
  }

  &__button {
    grid-column: 1/ -1;

    @include desktop {
      grid-column: span 4;
    }
  }
}
