.icon {
  display: block;
  height: 24px;
  width: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(/src/icons/icon-phone-4xcall.png);
  }

  &--menu {
    background-image: url(/src/icons/icon-burger-4xmenu.png);

    &:hover {
      background-image: url(/src/icons/Icon-Burger-menu-4xhover.png);
    }
  }

  &--close {
    background-image: url(/src/icons/icon-close.png);
  }
}
