.main {
  background-color: $white-color;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-top: 64px;
    padding-bottom: 96px;

    @include tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
