.page {
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;
  scroll-behavior: smooth;

  &__body {
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition:
      opacity $effectDuration,
      transform $effectDuration;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0%);
    }
  }
}
