.product {
  transition: transform $effectDuration;

  &:hover {
    transform: scale(1.04);
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__description {
    letter-spacing: 0.15px;
  }
  &__price {
    margin-top: 12px;

    @include tablet {
      margin-top: 34px;
    }
  }
}
