.recommended {
  &__products {
    @include page-grid;

    row-gap: 40px;

    @include tablet {
      row-gap: 56px;
    }

    .product {
      grid-column: 1 /-1;

      @include desktop {
        grid-column: span 4;
      }
    }
  }
}
